<ActionBar title="Backlog">
    <ActionItem (tap)="showSlideout($event)" ios.position="right">
        <StackLayout class="navbar_image_wrapper" ios:horizontalAlignment="right">
            <Label text="MENU"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<RadSideDrawer #drawer selectionBehavior="None">
    <StackLayout tkDrawerContent>
        <GridLayout class="side-drawer-panel" rows="auto, *, 100">
            <StackLayout row="0">
                <Label text="LOGO HERE"></Label>
            </StackLayout>

            <StackLayout row="1">
                <Button text="MY ITEMS"></Button>
                <Button text="OPEN ITEMS"></Button>
                <Button text="FINISHED ITEMS"></Button>
            </StackLayout>

            <StackLayout row="2">
                <Button text="LOGOUT" class="slide-out-btn" (tap)="logoutTap()" style="color: pink"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout tkMainContent>
        <pt-item-list></pt-item-list>
    </StackLayout>

</RadSideDrawer>